form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.send {
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
}

.error {
  color: red;
}
