.box {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  border-radius: 30px;
  width: 300px;
  padding: 20px 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-toggler {
  cursor: pointer;
  border-radius: 30px;
  background-color: yellowgreen;
  border: none;
  height: 100px;
  width: 100px;
}
